* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 15px;

    .container {
        width: 95%;

        .collapseDiv {
            ul {
                margin: auto;
                justify-content: space-between;
                gap: 30px;
                font-size: 16px;
                font-weight: 600;
            }

        }

        .iconDiv {
            display: flex;
            gap: 20px;
        }
    }
}



#sofa {
    width: 100%;

    .container {
        width: 95%;
        padding-top: 30px;

        .row {
            padding-top: 30px;

            .sofatxt {
                padding: 30px;

                h1 {
                    font-size: 50px;
                    font-weight: 800;

                }

                p {
                    color: grey;
                    padding-top: 20px;
                }

                .buttoon {
                    padding-top: 30px;

                    button {
                        padding: 10px 30px 10px 30px;
                        border-radius: 5px;
                        background-image: linear-gradient(to right,#FF1053,#FF5830);
                        color: white;
                        border: none;

                    }
                }
            }

            .sofaimg {
                img {
                    max-width: 100%;
                }
            }
        }
    }
}

#puffsec {
    width: 100%;
    background-color: #ECFDFF;

    .container {
        width: 95%;

        .row {
            padding: 30px;

            .puffimg {
                padding-top: 30px;

                img {
                    max-width: 100%;
                }
            }

            .pufftext {
                padding-top: 30px;

                h1 {
                    font-size: 50px;
                    font-weight: 700;
                }



                .date {
                    justify-content: space-between;
                    padding-top: 30px;
                    padding-bottom: 30px;
                    display: flex;
                    flex-direction: column;


                    p {
                        color: grey;
                        font-weight: 600;

                    }

                    span {
                        font-size: 25px;
                        font-weight: 700;
                    }
                }




                .inpbtn {
                    width: 90%;

                    padding-top: 30px;
                    display: flex;
                    gap: 20px;

                    input {
                        outline: none;
                        border: none;
                        cursor: pointer;
                        padding: 10px;
                        font-size: 17px;
                        width: 70%;
                    }

                    button {
                        border: none;
                        background-image: linear-gradient(to right, #FF1053, #FF5830);
                        padding: 15px;
                        text-align: center;
                        color: white;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}



#apisection {
    .divbtn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;

        #btn {

            font-size: 15px;
            background-color: #FF4439;
            color: white;
            font-weight: bolder;
            padding: 10px;
            border: none;

        }
    }



    .container {
        width: 95%;

        .row {
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 30px;

            .apitext {
                display: flex;
                padding: 30px;

                h3 {
                    font-size: 40px;
                    padding-bottom: 15px;
                    font-weight: 700;
                }

            }

            .buttons {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                margin-bottom: 30px;

                input {
                    width: 90px;
                    height: 33px;
                    padding-left: 20px;
                    border: 2px solid#FF4439;

                    #inpp {
                        padding: 10px;
                    }
                }

                button {
                    font-size: 15px;
                    background-image: linear-gradient(to right,#FF1053,#FF5830);
                    color: white;
                    font-weight: bolder;
                    padding: 5px;

                    border: none;
                    margin-left: -10px;

                    a {
                        i {
                            color: white;
                        }

                        i:hover {
                            color: #FF4439;
                        }
                    }
                }

                button:hover {
                    background-color: white;
                    color: #FF4439;
                    transition: 0.5s;
                }
            }





            #apidiv {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 30px;
                padding: 5px;
                border-radius: 10px;

                .boxDiv {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid#FF4439;
                    border-radius: 10px;
                    padding: 10px;
                    text-align: center;

                    .addtobasketbtn {
                        font-size: 15px;
                        background-image: linear-gradient(to right,#FF1053,#FF5830);
                        color: white;
                        border-radius: 5px;
                        font-weight: bolder;
                        padding: 10px;
                        border: none;

                    }

                    .addtobasketbtn:hover {
                        background-color: white;
                        color: #FF4439;
                        transition: 0.5s;
                    }
                }
            }
        }
    }

}




#subscribe {
    width: 100%;
    padding: 30px;
    background-image: url(/img/subscribe_area.png);

    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center;

    .container {
        width: 95%;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;

        .row {


            .subscribetext {
                padding: 30px;
                align-items: center;
                justify-content: center;
                text-align: center;

                p {
                    padding: 30px;
                    color: red;
                }

                h1 {
                    padding-bottom: 30px;
                    font-size: 40px;
                    font-weight: 700;

                }

                .inpbtn {
                    align-items: center;
                    justify-content: center;
                    padding-top: 30px;
                    display: flex;
                    gap: 20px;

                    input {

                        border: none;
                        cursor: pointer;
                        padding: 10px;
                        font-size: 17px;
                        width: 70%;
                    }

                    button {
                        border: none;
                        background-image: linear-gradient(to right, #FF1053, #FF5830);
                        padding: 15px;
                        text-align: center;
                        color: white;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}

#formimp {
    width: 100%;
    padding-top: 30px;

    .container {
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;

        .formsec {
            padding: 20px;

            h4 {
                padding-top: 30px;
                text-align: center;
                font-size: 40px;
                font-weight: 600;

            }

            p {
                color: grey;
                text-align: center;


            }
        }

        #myFORM {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            color: white;
            font-size: 25px;
            font-weight: bolder;


            #myFORM input {
                font-size: 20px;
                background-color: white;
                border: 1px solid rgb(232, 142, 232);
                border-radius: 25px;


            }

            #submit {
                background-image: linear-gradient(to right,#FF1053,#FF5830);
                border: none;
                font-size: 20px;
                color: #fff;
                cursor: pointer;


            }
        }

        #submit:hover {
            background-image: linear-gradient(to right,#FF1053,#FF5830);
            color: rgb(255, 255, 255);
        }
    }


}


footer {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
}